@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background: #deebff;
  overscroll-behavior: none;
  height: inherit;
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}
